div(ng-controller='addController')
    form(ng-submit="submit()")
        div(class="input-group input-group-lg")
            span(class="input-group-addon") S
            input(type="text", class="form-control", placeholder="Keyword", ng-model="add_keyword")

        p
            textarea(class="form-control input-large", ng-model="add_variants")

        p
            div(ng-repeat="indexname in indexes", class="row-fluid")

                label
                   input(type="radio", name="add_index", value="{{indexname}}", ng-model="$parent.add_index")
                   span(ng-bind="indexname")

        p
            select(class="form-control", ng-model="add_indextype")
                option(ng-repeat="indexType in indexTypes", value="{{indexType}}") {{indexType}}

        p(class="buttons")
            input(type="submit", class="btn btn-primary", value="Create new synonym")

        p {{result}}
