div(class="btn-group")
    button(type="button", class="btn btn-default")
        a(href="/add/synonym") Synonym
    button(type="button" ,class="btn btn-default")
        a(href="/add/stopword") Stopword