div(ng-controller='searchController')
    div(class="table-responsive")
        label(for="search") Search:
        input(type="text", id="search", oninput="updateSearchResults()")

        table(class="table table-bordered")
            thead
                tr
                    th #
                    th Keyword name
                    th Variants
                    th Index
                    th IndexType
                    th Date
                tbody
                    tr(ng-repeat="item in result")
                        td {{$index}}
                        td {{item.keyword}}
                        td {{item.variants}}
                        td {{item.index}}
                        td {{item.indexType}}
                        td {{item.date}}
