!!!
html(ng-app="sumoApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Sumo App
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  body
    block body