<!-- Fixed navbar -->
div(class="navbar navbar-default navbar-fixed-top", role="navigation", ng-controller="navigationController")
    div(class="container")
        div(class="navbar-header")
            button(type="button", class="navbar-toggle", data-toggle="collapse",data-target=".navbar-collapse")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")

            a(class="navbar-brand", href="/") Sumo
                span(class="glyphicon glyphicon-star")
        div(class="navbar-collapse collapse")
            ul(class="nav navbar-nav")
                li(ng-class="{ active: isActive('/')}")
                    a(href="/") Home
                        span(class="glyphicon glyphicon-home")
                li(ng-class="{ active: isActive('/add')}")
                    a(href="/add") Add
                        span(class="glyphicon glyphicon-plus")
                li(ng-class="{ active: isActive('/search')}")
                    a(href="/manage") Manage
                        span(class="glyphicon glyphicon-tasks")
                li(ng-class="{ active: isActive('/export')}")
                    a(href="/export") Export
                        span(class="glyphicon glyphicon-export")